In [491]:
import  numpy as np
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, roc_auc_score
from math import sqrt
import matplotlib.pyplot as plt
import warnings

In [440]:
warnings.filterwarnings("ignore")

### Data Load

In [466]:
df=pd.read_csv('diabetes.csv')

In [467]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [468]:
#y label is outcome

In [469]:
df = df[:200]

In [470]:
df.shape

(200, 9)

In [399]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,4.610000,117.940000,68.070000,19.900000,74.350000,30.996000,0.46893,34.420000,0.370000
std,3.589814,33.712636,22.009298,16.306719,126.446649,9.611734,0.37117,11.212529,0.485237
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.10200,21.000000,0.000000
25%,1.000000,99.000000,64.000000,0.000000,0.000000,25.300000,0.24800,25.750000,0.000000
50%,4.000000,112.500000,72.000000,21.500000,0.000000,31.800000,0.34300,31.000000,0.000000
75%,7.000000,139.000000,80.000000,32.250000,110.000000,37.225000,0.58375,42.000000,1.000000
max,15.000000,197.000000,110.000000,60.000000,846.000000,49.700000,2.28800,60.000000,1.000000

In [471]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [472]:
#pre processing

In [473]:
def outlier_remover(df_num,df):
    Q1 = df_num.quantile(0.25)
    Q3 = df_num.quantile(0.75)
    IQR=df_num.quantile(0.75)-df_num.quantile(0.25)
    lower_bound = Q1-IQR
    upper_bound=Q3+IQR
    df=df[~((df_num<lower_bound)|(df_num>upper_bound)).any(axis=1)]
    return df

In [474]:
df =outlier_remover(df,df)

In [475]:
X=df.drop('Outcome',axis=1)
y=df.Outcome

In [476]:
y.shape

(137,)

In [477]:
X.shape

(137, 8)

In [478]:
scaler=MinMaxScaler()
X_scaled=scaler.fit_transform(X)

In [479]:
X=pd.DataFrame(X_scaled,columns=X.columns,index=X.index)

In [480]:
X.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000
mean,0.313307,0.447746,0.468066,0.347121,0.220067,0.451653,0.371592,0.291541
std,0.233512,0.213610,0.226407,0.275966,0.279928,0.220486,0.243637,0.254575
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.153846,0.301587,0.333333,0.000000,0.000000,0.289575,0.192744,0.058824
50%,0.307692,0.412698,0.458333,0.370370,0.000000,0.463320,0.314059,0.235294
75%,0.461538,0.579365,0.625000,0.555556,0.412281,0.575290,0.544218,0.470588
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### TRAIN - TEST SPLIT

In [481]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [482]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(109, 8)
(28, 8)
(109,)
(28,)

In [483]:
X_train=X_train.reset_index(drop=True)
y_train=y_train.reset_index(drop=True)
X_df=X_train.copy()